<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingRandomAccessFile name="StoreAppender"
			fileName="logs/dvdstore.log"
			filePattern="logs/dvdstore-%d{yyyy-MM-dd_hh-mm}_%i.zip">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="StoreDataAppender"
			fileName="logs/dvdstore-data.log"
			filePattern="logs/dvdstore-data-%d{yyyy-MM-dd_hh-mm}_%i.zip">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<AsyncLogger name="org.acme.dvdstore" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreAppender" />
		</AsyncLogger>
		<AsyncLogger name="org.springframework.cache" level="trace" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreAppender" />
		</AsyncLogger>
		<AsyncLogger name="org.springframework.data" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreDataAppender" />
		</AsyncLogger>
		<AsyncLogger name="com.zaxxer.hikari" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreDataAppender" />
		</AsyncLogger>
		<AsyncLogger name="org.hibernate.SQL" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreDataAppender" />
		</AsyncLogger>
		<AsyncLogger name="org.hibernate.type.descriptor.sql.BasicBinder" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreDataAppender" />
		</AsyncLogger>

		<Root level="debug">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="StoreAppender" />
		</Root>
	</Loggers>
</Configuration>
